[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AcousticNDLCodeR"]
	path = AcousticNDLCodeR
	url = https://github.com/denis-arnold/acousticndlcoder
